{% set authorization_auth_import = package_name ~ ".presentation.auth" %}
{% set authorization_models_import = package_name ~ ".infrastructure.persistence.authentication" %}
{% set authorization_service_import = package_name ~ ".infrastructure.authorization_service" %}
{% include "authorization_flask_tests.py.j2" %}
