{% set auth_database_import = package_name ~ ".infrastructure.database" %}
{% set auth_models_import = package_name ~ ".infrastructure.persistence.authentication" %}
{% set auth_service_import = package_name ~ ".infrastructure.auth_security" %}
{% include "auth_fastapi_router.py.j2" %}
