{% if database %}
DATABASE_URL={{ database_url_example }}
{% endif %}
{% if docker and is_postgresql and database %}
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB={{ package_name }}
{% endif %}
