{% set authorization_models_import = "infrastructure.persistence.authentication" %}
{% set authorization_service_import = "infrastructure.authorization" %}
{% include "authorization_django_tests.py.j2" %}
