{% set auth_database_import = package_name ~ ".database" %}
{% set auth_models_import = package_name ~ ".auth_models" %}
{% set auth_service_import = package_name ~ ".auth_security" %}
{% set auth_delivery_import = package_name ~ ".security_email" %}
{% set auth_rate_limit_import = package_name ~ ".auth_rate_limit" %}
{% include "auth_fastapi_router.py.j2" %}
