{% set auth_django_models_import = "identity.models" %}
{% set auth_django_security_import = "identity.security" %}
{% set auth_django_delivery_import = "identity.security_email" %}
{% set auth_django_throttles_import = "identity.throttles" %}
{% include "auth_django_views.py.j2" %}
