{% set authorization_auth_import = package_name ~ ".api.routes.auth" %}
{% set authorization_service_import = package_name ~ ".security.authorization_service" %}
{% include "authorization_flask.py.j2" %}
