{% set auth_email_service_import = "infrastructure.email" %}
{% set auth_jobs_import = "infrastructure.jobs" %}
{% set auth_email_port_import = "application.auth_ports" %}
{% include "auth_security_email.py.j2" %}
