DJANGO_SECRET_KEY=dev-insecure-change-me
DJANGO_DEBUG=true
{% if is_postgresql %}
POSTGRES_DB={{ package_name }}
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
{% endif %}
{% if is_sqlite %}
# SQLite database file is created at ./db.sqlite3 by default.
{% endif %}
