"""RQ queue helpers."""

from __future__ import annotations

from django.conf import settings
from redis import Redis
from rq import Queue

QUEUE_NAME = "default"


def get_redis() -> Redis:
    return Redis.from_url(settings.REDIS_URL)


def get_queue(connection: Redis | None = None) -> Queue:
    return Queue(QUEUE_NAME, connection=connection or get_redis())
