from pydantic_settings import BaseSettings, SettingsConfigDict


class Settings(BaseSettings):
    model_config = SettingsConfigDict(
        env_file=".env",
        env_file_encoding="utf-8",
        extra="ignore",
    )

    app_name: str = "{{ project_name }}"
{% if database %}
    database_url: str = "{{ database_url_example }}"
{% endif %}
{% if is_mongodb %}
    mongodb_url: str = "{{ mongodb_url_example }}"
    mongodb_database: str = "{{ mongodb_database_example }}"
{% endif %}
{% if is_redis %}
    redis_url: str = "{{ redis_url_example }}"
{% endif %}


settings = Settings()
