{% from "docker_compose_macros.j2" import dependency_services, app_service, worker_service, compose_volumes with context %}
services:
{{ dependency_services() }}
{{ app_service("api") }}
{{ worker_service() }}
{{ compose_volumes() }}
