from django.contrib import admin
from django.urls import include, path

urlpatterns = [
    path("admin/", admin.site.urls),
{% if rest_framework %}
    path("api/", include("presentation.api.urls")),
{% for app in django_apps|sort(attribute='module_id') %}
{% if app.urls_module %}
    path("api/", include("{{ app.urls_module }}")),
{% endif %}
{% endfor %}
{% endif %}
]
